.container,
.header-inner {
  max-width: 1200px;
  padding: 0px 20px;
  width: 100%;
  margin: auto;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}
img {
  width: 100%;
}
header {
  height: 100px;
}
header.sticky {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  z-index: 10;
  transition: 0.3s;
  position: sticky;
  top: 0;
  background: var(--dark-light);
  height: 70px;
}
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-inner .logo {
  font-size: 30px;
  line-height: 40px;
  color: var(--red);
  font-weight: 900;
}

.header-inner .link {
  margin-right: 30px;
  color: var(--light);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  transition: 0.3s;
}
.header-inner .link:hover {
  transform: scale(1.2);
  color: white;
  font-size: 18px;
  padding: 10px;
  background-color: var(--red);
  transition: transform 0.2s;
  width: 5%;
  height: 5%;
  border-radius: 10%;
}
.header-inner .logo:hover {
  color: white;
}
header .menu {
  display: none;
}
header .mobile-links {
  display: none;
}
